<LTMenu current-profile="1" dwlab_version="1.4.34" total-loading-time="0">
	<TList field="profiles">
		<TGameProfile id="1" name="{{P_Player}}" language="Russian" width="1280" height="1024" depth="32" frequency="75" x-resolution="1216" y-resolution="912" first-locked-level="Black ball cross" level="Black ball cross" next-balls="1,6,2" balls-in-line="5" balls-per-turn="3" total-balls="7" show-next-balls="1" time="22.01333333" turns="2" turn-time="12.94666666">
			<LTTileMap field="field" x="8.50003" y="4.87002998" width="13.00003" height="9.75003" xquantity="13" yquantity="13" tiles-quantity="33" offset="0">
				<TList field="parameters">
					<LTParameter name="name" value="Field"/>
				</TList>
				<TFieldVisualizer field="visualizer" dy="0.10002" yscale="1.25001999"/>
				<LTTileSet field="tileset" name="Default" tiles-quantity="33" empty-tile="0">
					<LTImage field="image" filename="images\fields.png" xcells="11" ycells="3" loading-time="6"/>
					<Array field="collision-shapes" size="33">
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="1">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="3">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="4">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="5">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5" y="0.5" shape="2" index="6">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5" y="0.5" shape="2" index="7">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="12">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="13">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="14">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="15">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="16">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="17">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="18">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="19">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="20">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="21">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="22">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
					</Array>
				</LTTileSet>
			</LTTileMap>
			<LTTileMap field="balls" x="8.50003" y="4.87002998" width="13.00003" height="9.75003" visible="0" xquantity="13" yquantity="13" tiles-quantity="14" offset="169">
				<TList field="parameters">
					<LTParameter name="name" value="Balls"/>
				</TList>
				<LTVisualizer field="visualizer" dy="-0.20000999" xscale="0.90000999" yscale="1.23001"/>
				<LTTileSet field="tileset" id="46" name="Balls" tiles-quantity="14" empty-tile="0">
					<LTImage field="image" filename="images\balls.png" xcells="14" loading-time="5"/>
					<Array field="collision-shapes" size="14"/>
				</LTTileSet>
			</LTTileMap>
			<LTTileMap field="modifiers" x="8.50003" y="4.87002998" width="13.00003" height="9.75003" xquantity="13" yquantity="13" tiles-quantity="14" offset="338">
				<TList field="parameters">
					<LTParameter name="name" value="Modifiers"/>
				</TList>
				<LTVisualizer field="visualizer" dy="-0.25002996" yscale="1.25001999"/>
				<Object field="tileset" id="46"/>
			</LTTileMap>
			<TList field="goals">
				<TPutBallsInHoles count="4"/>
			</TList>
			<Map field="scores">
				<Pair value="64" key="The wall"/>
			</Map>
			<TList field="pool">
				<TPoolObject num="9" percent="100"/>
			</TList>
			<LTButtonAction field="skip-turn" name="Skip turn">
				<LTKeyboardKey code="32"/>
			</LTButtonAction>
			<LTButtonAction field="exit-to-menu" name="Exit to menu">
				<LTKeyboardKey code="27"/>
			</LTButtonAction>
			<LTButtonAction field="boss-key" name="Boss key">
				<LTKeyboardKey code="90"/>
			</LTButtonAction>
		</TGameProfile>
	</TList>
	<Map field="high-scores">
		<LTLayer key="The wall">
			<LTVisualizer field="visualizer"/>
			<LTHighScore score="64" name="Игрок"/>
		</LTLayer>
	</Map>
</LTMenu>
